<div class="flex">
  <div class="scroll ">

      <%= render 'shared/list'%>

  </div>

  <div class="explore">
    <div class="container">
      <% @works.each do |w|%>
        <div class="work">
            <%= link_to work_path(w) do %>
            <% cover_photo = w.photos.where(cover: true).first%>
            <% cover_video = w.videos.where(cover: true).first%>
              <%if cover_photo %>
                <%=image_tag cover_photo.url.sub('/upload/' ,'/upload/w_1500/')%>
              <%elsif cover_video%>
                <div class="video-container">
                  <iframe width="" height="" src="https://www.youtube.com/embed/<%=cover_video.youtube_id%>" frameborder="0" allowfullscreen></iframe>
                </div>
              <%end%>
            <%end %>
            <% txtlink = "#{w.title}, #{w.year}"%>
              <%= link_to txtlink, work_path(w), class:'link'%>
        </div>
      <%end %>

    </div>
  </div>
</div>
