 <div class="list">
        <%= link_to root_path do %>
          <%=image_tag 'https://res.cloudinary.com/dmbutdgsi/image/upload/v1611342976/logo_ef1290df81.png', class:"logo" %>
        <%end %>
        <ul>
          <% @works.each_with_index do |work, index| %>
            <% hover_class = "color-hover#{index % 4}" %>
            <% active_class = "color-active#{index % 4}" %>
            <% is_active = current_page?(work_path(work.id)) ? active_class : '' %>
            <li>

              <%= link_to work.title, work_path(work.id), class: "link #{hover_class} #{is_active}" %>

            </li>
          <% end %>

          <%base_index = @works.size%>

          <li class="margintop">
            <%= link_to "About", about_profil_path, class: "link color-hover#{base_index % 4}" %>
          </li>
          <li>
            <%= link_to "CV", cv_profil_path, class: "link color-hover#{(base_index + 1) % 4}" %>
          <li>
            <%= link_to "Contact", contact_profil_path, class: "link color-hover#{(base_index + 1) % 4}" %>
          </li>


          <%= render 'shared/copyright' %>
        </ul>
      </div>
