<div class="flex">
  <div class="list">
    <% @works.each do |w|%>
    <%= link_to w.title, work_path(w.id)%>
    <%end%>
  </div>

<div class="explore">
  <% @works.each do |w|%>
    <%= link_to work_path(w.id) do %>
      <%=image_tag w.photos.where(cover: true).first.url%>
    <%end %>
      <p><%= w.title %>, <%= w.year%><p>
  <%end %>
</div>
</div>
