<div class="flex">
  <div class="list">
     <%= link_to root_path do %>
      <%=image_tag 'https://res.cloudinary.com/dmbutdgsi/image/upload/v1611342976/logo_ef1290df81.png', class:"logo" %>
      <%end %>
    <ul><% @works.each_with_index do |w,index|%>
      <% color_class = "color-hover#{index % 4}"%>
      <li><%= link_to w.title, work_path(w.id), class:'link'" #{color_class}"%></li>
    <%end%>
    
    </ul>
  </div>

  <div class="explore">
    <div class="container">
      <% @works.each do |w|%>
        <div class="work">
            <%= link_to work_path(w.id) do %>
            <% cover_photo = w.photos.where(cover: true).first%>
            <% cover_video = w.videos.where(cover: true).first%>
              <%if cover_photo %>
                <%=image_tag cover_photo.url%>
              <%elsif cover_video%>
                <iframe width="600" height="337.5" src="https://www.youtube.com/embed/<%=cover_video.youtube_id%>" frameborder="0" allowfullscreen></iframe>
              <%end%>
            <%end %>
            <% txtlink = "#{w.title}, #{w.year}"%>
              <%= link_to txtlink, work_path(w.id), class:'link'%>
        </div>
      <%end %>
    </div>
  </div>
</div>
