<div class="flex">
  <div class="list">
    <ul><% @works.each do |w|%>
    <li><%= link_to w.title, work_path(w.id)%></li>
    <%end%>
    </ul>
  </div>

<div class="explore">
    <% @works.each do |w|%>
      <%= link_to work_path(w.id) do %>
        <%if w.photos.where(cover: true).first %>
          <%=image_tag w.photos.where(cover: true).first.url%>
        <%else %>
          <iframe width="1000" height="563" src="https://www.youtube.com/embed/<%=w.videos.where(cover: true).first.youtube_id%>" frameborder="0" allowfullscreen></iframe>
        <%end%>
      <%end %>
        <p><%= w.title %>, <%= w.year%><p>
    <%end %>
  </div>
</div>
