<div class="flex">
  <div class="list">
    <ul><% @works.each do |w|%>
    <li><%= link_to w.title, work_path(w.id)%></li>
    <%end%>
    </ul>
  </div>

  <div class="show">
    <%= @work.title %>
    <%= @work.year%>
    <%= @work.description%>
    <% @work.photos.each do |photo| %>
      <%= image_tag photo.url, alt: photo.legend, class: 'work-photo' %>
      <p><%= photo.legend %></p>
    <%end %>
  <% if @work.videos.any? %>
    <% @work.videos.each do |video| %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video.youtube_id%>" frameborder="0" allowfullscreen></iframe>
    <%end %>
  <%end %>
  </div>
</div>
