<div class="flex">
  <div class="scroll">
    <div class="list">
      <%= link_to root_path do %>
        <%=image_tag 'https://res.cloudinary.com/dmbutdgsi/image/upload/v1611342976/logo_ef1290df81.png', class:"logo" %>
        <%end %>
      <ul>
        <% @works.each_with_index do |w,index|%>
        <% color_class = "color-hover#{index % 4}"%>
        <li><%= link_to w.title, work_path(w.id), class:'link'" #{color_class}"%></li>
        <%end%>
        <li><%= link_to "cv", cv_profil_path, class: 'link'%></li>
        <li><%= link_to "about", about_profil_path, class: 'link'%></li>
        <li><%= link_to "contact", contact_profil_path, class: 'link'%></li>
      </ul>
    </div>
  </div>
  <div class="show">
    <div class="container">
      <div class="work">
      <div class="entete"><h1>About</h1></div>
        <div class="image">
          <%= image_tag @profil.pic_url%>
        </div>
        <div class="paragraph">
        <%= simple_format(@profil.about)%>
        </div>
      </div>
    </div>
  </div>
</div>
